button {
cursor: pointer;
display: inline-block;
vertical-align: middle;
min-height: 1em;
outline: 0;
border: 0;
background-color: #FAFAFA;
color: gray;
margin: 0;
padding: .8em 1.5em;
font-size: 1rem;
text-transform: uppercase;
line-height: 1;
font-weight: 700;
font-style: normal;
text-align: center;
text-decoration: none;
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
border-radius: .25em;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
}

/* hover */

button:not(.loading):hover {
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.08)));
background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
color: rgba(0,0,0,.6);
}

button:hover .icon {
  opacity: 0.85;
}

/* active */

button.active,
button:not(.loading):active {
background-color: #EAEAEA;
background-image: none;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset!important;
box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset!important;
color: rgba(0,0,0,.7);
}


/*-------------------
      Disabled
--------------------*/

button.disabled,
button.disabled:hover,
button.disabled.active {
  background-color: #DDDDDD !important;
  cursor: default;
  color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.3 !important;
  background-image: none !important;
  box-shadow: none !important;
}


/*-------------------
       Animated
--------------------*/

button.animated .visible.content {
left: auto;
right: auto;
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

button.animated {
position: relative;
overflow: hidden;
}

button.animated .visible.content {
left: auto;
right: 0;
}

button.animated .hidden.content {
top: 50%;
left: auto;
right: -100%;
margin-top: -.50em;
}

button.animated .hidden.content {
position: absolute;
width: 100%;
}

button.fade.animated .visible.content,
button.fade.animated .hidden.content {
-webkit-transition: opacity .3s ease 0s,-webkit-transform .3s ease 0s;
transition: opacity .3s ease 0s,transform .3s ease 0s;
}

button.fade.animated .visible.content {
left: auto;
right: auto;
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

button.fade.animated .hidden.content {
opacity: 0;
left: 0;
right: auto;
-webkit-transform: scale(0.7);
-ms-transform: scale(0.7);
transform: scale(0.7);
}

button.fade.animated:hover .visible.content {
left: auto;
right: auto;
opacity: 0;
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

button.fade.animated:hover .hidden.content {
left: 0;
right: auto;
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

/*--------------
    Loading
---------------*/

button.loading {
  position: relative;
  cursor: default;
  background-color: #FFFFFF !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

button.loading:after {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  content: '';
  background: transparent url(../images/loader-mini.gif) no-repeat 50% 50%;
}

/*-------------------
       Colors
--------------------*/

/*--- Black ---*/

button.black {
  background-color: #5C6166;
  color: #FFFFFF;
}

button.black:hover {
  background-color: #4C4C4C;
  color: #FFFFFF;
}

button.black:active {
  background-color: #333333;
  color: #FFFFFF;
}

/*--- Green ---*/

button.green {
  background-color: #5BBD72;
  color: #FFFFFF;
}

button.green:hover {
  background-color: #58cb73;
  color: #FFFFFF;
}

button.green:active {
  background-color: #4CB164;
  color: #FFFFFF;
}

/*--- Red ---*/

button.red {
  background-color: #D95C5C;
  color: #FFFFFF;
}

button.red:hover {
  background-color: #E75859;
  color: #FFFFFF;
}

button.red:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}

/*--- Orange ---*/

button.orange {
  background-color: #E96633;
  color: #FFFFFF;
}

button.orange:hover {
  background-color: #FF7038;
  color: #FFFFFF;
}

button.orange:active {
  background-color: #DA683B;
  color: #FFFFFF;
}

/*--- Blue ---*/

button.blue {
  background-color: #6ECFF5;
  color: #FFFFFF;
}

button.blue:hover {
  background-color: #1AB8F3;
  color: #FFFFFF;
}

button.blue:active {
  background-color: #0AA5DF;
  color: #FFFFFF;
}

/*--- Purple ---*/

button.purple {
  background-color: #564F8A;
  color: #FFFFFF;
}

button.purple:hover {
  background-color: #3E3773;
  color: #FFFFFF;
}

button.purple:active {
  background-color: #2E2860;
  color: #FFFFFF;
}

/*--- Teal ---*/

button.teal {
  background-color: #00B5AD;
  color: #FFFFFF;
}

button.teal:hover {
  background-color: #009A93;
  color: #FFFFFF;
}

button.teal:active {
  background-color: #00847E;
  color: #FFFFFF;
}


/*-------------------
        Sizes
--------------------*/

button {
  font-size: 1rem;
}

button.mini {
  font-size: 0.8rem;
}

button.mini {
  padding: 0.4em 0.7em 0.4em;
}

button.mini.icon {
  padding: 0.6em 0.6em 0.6em;
}

button.tiny {
  font-size: 0.875rem;
}

button.tiny {
  padding: 0.6em 0.8em 0.6em;
}

button.tiny.icon {
  padding: 0.6em 0.6em 0.6em;
}

button.small {
  font-size: 0.875rem;
}

button.large {
  font-size: 1.125rem;
}

button.big {
  font-size: 1.25rem;
}

button.huge {
  font-size: 1.375rem;
}

button.massive {
  font-size: 1.5rem;
  font-weight: bold;
}
