.header {
  border: none;
  margin: 1em 0em 1rem;
  padding: 0em;
  font-size: 1.33em;
  font-weight: bold;
  line-height: 1.33;
}

.header .sub.header {
  font-size: 1rem;
  font-weight: normal;
  margin: 0em;
  padding: 0em;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
}

.header .icon {
  padding-right: 0.5em;
}

.header.cell .icon {
  display: table-cell;
  vertical-align: middle;
}

.header .content {
  display: inline-block;
  vertical-align: top;
}

.header.cell .content {
  display: table-cell;
  padding-left: 0.5em;
}

/*--------------
  Page Heading
---------------*/

h1.header {
  min-height: 1rem;
  line-height: 1.33;
  font-size: 2rem;
}

h2.header {
  line-height: 1.33;
  font-size: 1.75rem;
}

h3.header {
  line-height: 1.33;
  font-size: 1.33rem;
}

h4.header {
  line-height: 1.33;
  font-size: 1.1rem;
}

h5.header {
  line-height: 1.2;
  font-size: 1rem;
}

/*--------------
 Content Heading
---------------*/

.huge.header {
  min-height: 1em;
  font-size: 2em;
}

.large.header {
  font-size: 1.75em;
}

.medium.header {
  font-size: 1.33em;
}

.small.header {
  font-size: 1.1em;
}

.tiny.header {
  font-size: 1em;
}


/*-------------------
        icon header
--------------------*/

.icon.header {
  display: inline-block;
  text-align: center;
}

.icon.header .icon {
  float: none;
  display: block;
  font-size: 3em;
  margin: 0em auto 0.2em;
  padding: 0em;
}

.icon.header .content {
  display: block;
}

.icon.header .circular.icon,
.icon.header .square.icon {
  font-size: 2em;
}

.block.icon.header .icon {
  margin-bottom: 0em;
}

.icon.header.aligned {
  margin-left: auto;
  margin-right: auto;
  display: block;
}



